
        .left-container li{
            display: inline-block;
            width: 25%;
            height: auto;
        }
        .left-container a{
            color: rgb(233, 233, 233);
            text-align: center;
        }   
        /* On small screens, set height to 'auto' for sidenav and grid */
        .left-container{
            float: left;
            min-height: inherit;
            min-width: 20%;
            background-color: rgb(29, 29, 29);
            resize: horizontal;
            overflow: auto;
        }
        .right-container{
            float:right;
            min-height: inherit;
            flex: auto;
            background-color: rgb(43, 43, 43);
        }
        .contain
        {
            position: fixed;
            width: 100%;
            min-height: 97%;
            display: flex;
        }
        footer{
            position: fixed;
            width:100%;
            min-height:3%;
            bottom:0px;
            background-color: rgb(58, 58, 58);
            color: rgb(203, 209, 214);
        }
        p{
            color: rgb(233, 233, 233);   
        }
        #Shapes{
            overflow: auto;
        }
        #Shapes div {
            padding: 1% 1%;
            display: inline-block;
        }
        
        #Shapes img {
            max-width: 100px;
            max-height: 100px;
        }
        
        @media screen{   
            .column {
                flex: inherit;
                max-width: inherit;
              }
        }
        
        .btn-group-vertical{
            width: 100%;
            height: auto;
        }
        .btn-group-justified{
            width:inherit;
            height: 100%;
        }
        
        