button.menunav{
    color:white;
    background-color:inherit;
    width:inherit;
    border:none;
}    
ul.menunav {
    width:inherit;
    height:inherit;
    background-color:inherit;
}
ul.menunav li{
    color:white;
    width:inherit;
    height:20%;
    display: block;
    background-color:inherit;
}
ul.topnav{
    list-style-type: none;
    position: fixed;
    left:inherit;
    width:100%;
    overflow: hidden;
    background-color:black;
}
button.topnav {
    color:white;
    border:none;
    display: inline-block;
    padding:7px 8px;
    transition: 0.1s;
    background-color:black;
}
button.topnav:hover,p:hover,button.menunav:hover {
    background-color:grey;
}
ul.topnav li {
    color:white;
    margin-left:5.5%;
    float:left;
    
}
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    transition: 0.3s;
    font-size:100%;
}
ul.topnav li a:hover {
    background-color:#33cc33;
}
