<!DOCTYPE html>
<html ng-app="toolbarApp">

<head>
    <title>Logic Gates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="tool_toolbar.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-controller="MainCtrl as ctrl">
    <div class="toolbarHeader">
        <ul class="topnav" id="myTopnav">
            <li><button type="button" title="Line" class="topnav" ng-click="ctrl.pencilDraw()"><i class="fa fa-pencil w3-large"></i></li>
            <li><button type="button" title="Eraser" class="topnav" ng-click="ctrl.erase()"><i class="fa fa-eraser w3-large" aria-hidden="true" ></i></li>
            <li><button type="button" title="Select" class="topnav" ng-click="ctrl.select()"><i class="fa fa-mouse-pointer w3-large"></i></li>
            <li><button type="button" title="New" class="topnav" ng-click="ctrl.newObj()"><i class="fa fa-file-o w3-large"></i></li>
            <li><button type="button" title="LineThickness" class="topnav" ng-click="ctrl.circleDraw()"><i class="fa fa-circle w3-large"></i></li>
            <li><button type="button" title="LineColor" class="topnav" ng-click="ctrl.pickColor()"><input id="colorPicker" type="color"></li>
            <li><button type="button" title="Text" class="topnav" ng-click="ctrl.resizeFont()"><i class="fa fa-font w3-large"></i></li>
            <li><button type="button" class="topnav" title="Help" ng-click="ctrl.callHelp()"><i class="fa fa-question-circle-o w3-large"></i> Help</li>
            <li style="margin-right:0px"><a href="../homepage/index.html" title="Sign Out">Sign Out <i class="fa fa-power-off w3-large"></i></li>
        </ul>
    </div>

    <script src="angular.min.js"></script>
    <script src="tool_toolbar.js"></script>
</body>

</html>
