<!DOCTYPE html>
<html lang="en" ng-app="UIApp">

<head>
    <title>Domain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="tool_navs.css">
    <link rel="stylesheet" href="containers.css">

</head>

<body>

    <script src="angular.min.js"></script>
    <script src="tool_navs.js"></script>
    
    <div class="container">

        <div class="left-container">
            
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#Menu" title="File"><i class="fa fa-folder-open-o fa-lg"></i></a></li>
                <li><a data-toggle="tab" href="#Shapes" title="Shapes"><i class="fa fa-th-large fa-lg"></i></a></li>
                <li><a data-toggle="tab" href="#Stack" title="Stack"><i class="fa fa-sliders fa-lg"></i></a></li>
                <li><a data-toggle="tab" href="#Execute" title="Execute"><i class="fa fa-play fa-lg"></i></a></li>
            </ul>
            
            <div class="tab-content">
                
                <div id="Menu" class="tab-pane fade">
                    <div class="menubarHeader" ng-controller="MenubarCtrl as m_ctrl">
                        <ul class="menunav">
                            <li><button type="button" class="menunav" ng-click="m_ctrl.newFile()"><i class="fa fa-plus-square w3-large">New</i></li>
                            <li><button type="button" class="menunav" ng-click="m_ctrl.openFile()"><i class="fa fa-folder-open w3-large">Open</i></li>
                            <li><button type="button" class="menunav" ng-click="m_ctrl.dupFile()"><i class="fa fa-files-o w3-large">Duplicate</i></li>
                            <li><button type="button" class="menunav" ng-click="m_ctrl.saveFile()"><i class="fa fa-save w3-large">Save</i></li>
                            <li><button type="button" class="menunav" ng-click="m_ctrl.saveAsFile()"><i class="fa fa-plus-square-o w3-large">Save As</i></li>
                        </ul>
                    </div>
                </div>

                <div id="Shapes" class="tab-pane fade">
                    <p>Some content in menu 2.</p>
                </div>

                <div id="Stack" class="tab-pane fade">
                    <p>Some content in menu 3.</p>
                </div>

                <div id="Execute" class="tab-pane fade">
                    <p>Some content in menu 4.</p>
                </div>
                
            </div>
        </div>
        
        <div class="right-container">
            
            <div class="toolbarHeader"  ng-controller="ToolbarCtrl as t_ctrl">
                <ul class="topnav" id="myTopnav">
                    <li><button type="button" title="Line" class="topnav" ng-click="t_ctrl.pencilDraw()"><i class="fa fa-pencil w3-large"></i></li>
                    <li><button type="button" title="Eraser" class="topnav" ng-click="t_ctrl.erase()"><i class="fa fa-eraser w3-large" aria-hidden="true" ></i></li>
                    <li><button type="button" title="Select" class="topnav" ng-click="t_ctrl.select()"><i class="fa fa-mouse-pointer w3-large"></i></li>
                    <li><button type="button" title="New" class="topnav" ng-click="t_ctrl.newObj()"><i class="fa fa-file-o w3-large"></i></li>
                    <li><button type="button" title="LineThickness" class="topnav" ng-click="t_ctrl.circleDraw()"><i class="fa fa-circle w3-large"></i></li>
                    <li><button type="button" title="LineColor" class="topnav" ng-click="t_ctrl.pickColor()"><input id="colorPicker" type="color"></li>
                    <li><button type="button" title="Text" class="topnav" ng-click="t_ctrl.resizeFont()"><i class="fa fa-font w3-large"></i></li>
                    <li><button type="button" class="topnav" title="Help" ng-click="t_ctrl.callHelp()"><i class="fa fa-question-circle-o w3-large"></i> Help</li>
                    <li><a class="topnav" href="../homepage/index.html" title="Sign Out"><i class="fa fa-power-off w3-large">Sign Out</i></a></li>
                </ul>
            </div>
            
            <div class="canvas">
                Canvas
            </div>   
        
        </div>  
    </div>
    
    <div class="footer">
             Footer : Some shit like Username or student log in....time...which domain...blah
    </div>
</body>

</html>