[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}
.furniture
{
	top: 10px;
    background-color: DarkSlateGrey;
	padding: 1em;
	margin: 2px;
	float: none;
	width: 70px;
	height: 70px;
	align-items: center;
	float: right;
	z-index: 2;
}
.upper-canvas
{
	z-index: 0;
	border: 2px solid;
	width: auto;
	height: auto;
}
.lower-canvas
{
    background-color: white;
}
